In [1]:
import papermill as pm

the 3rd argument has to be set to True, when scraping data from Germany or the Netherlands

In [ ]:
locations_to_scrape = {
    'London Area' : ('https://levels.fyi/t/software-engineer/locations/london-metro-area', False)
    'Paris Area': 'https://levels.fyi/t/software-engineer/locations/greater-paris-area'
}

In [ ]:
location, salaries_url, is_at_second_page = list(locations_to_scrape.items())[0]

In [4]:
pm.execute_notebook(
    'software_engineer_salaries_fyi.ipynb',
    'test_notebook.ipynb',
    parameters= dict(
        salaries_url = salaries_url,
        location = location
    )
)

c:\Users\steve\web-scraping\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Executing: 100%|██████████| 14/14 [00:25<00:00,  1.85s/cell]

{'cells': [{'cell_type': 'code',
   'execution_count': 1,
   'id': '52c25e7f',
   'metadata': {'tags': ['parameters'],
    'papermill': {'exception': False,
     'start_time': '2025-09-06T17:47:03.888465',
     'end_time': '2025-09-06T17:47:03.895803',
     'duration': 0.007338,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2025-09-06T17:47:03.891466Z',
     'iopub.execute_input': '2025-09-06T17:47:03.891466Z',
     'iopub.status.idle': '2025-09-06T17:47:03.894797Z',
     'shell.execute_reply': '2025-09-06T17:47:03.894797Z'}},
   'outputs': [],
   'source': "#paremeters\nsalaries_url = '1'\nlocation = '2'"},
  {'id': '106e853f',
   'cell_type': 'code',
   'metadata': {'tags': ['injected-parameters'],
    'papermill': {'exception': False,
     'start_time': '2025-09-06T17:47:03.897802',
     'end_time': '2025-09-06T17:47:03.904387',
     'duration': 0.006585,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2025-09-06T17:47:03.900803Z',
     'iopub.execute_input': '2025-09-06T17:47:03.901802Z',
     'iopub.status.idle': '2025-09-06T17:47:03.903822Z',
     'shell.execute_reply': '2025-09-06T17:47:03.903822Z'}},
   'execution_count': 2,
   'source': '# Parameters\nsalaries_url = "https://levels.fyi/t/software-engineer/locations/london-metro-area"\nlocation = "London Area"\n',
   'outputs': []},
  {'cell_type': 'code',
   'execution_count': 3,
   'id': '1ea11c4e',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2025-09-06T17:47:03.907393',
     'end_time': '2025-09-06T17:47:05.144302',
     'duration': 1.236909,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2025-09-06T17:47:03.910393Z',
     'iopub.execute_input': '2025-09-06T17:47:03.910393Z',
     'shell.execute_reply': '2025-09-06T17:47:05.143296Z',
     'iopub.status.idle': '2025-09-06T17:47:05.143296Z'}},
   'outputs': [],
   'source': "from salaries_functions import *\nimport requests\nimport pprint\nimport selenium\nfrom bs4 import BeautifulSoup\nfrom selenium import webdriver\nfrom selenium.webdriver.common.by import By\nfrom selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException\nfrom selenium.webdriver.support import expected_conditions as EC\nfrom selenium.webdriver.support.ui import WebDriverWait\nimport os\n\nfrom dotenv import load_dotenv\n\n\nos.chdir('C:/Users/steve/web-scraping/database')\n\nfrom crud_functions import write_dataframes_to_db, df_to_sql\nfrom models import Software_Engineer_Levels_Fyi\nfrom sqlalchemy import Engine\n"},
  {'cell_type': 'code',
   'execution_count': 4,
   'id': '4d756174',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2025-09-06T17:47:05.147305',
     'end_time': '2025-09-06T17:47:27.637530',
     'duration': 22.490225,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2025-09-06T17:47:05.149305Z',
     'iopub.execute_input': '2025-09-06T17:47:05.149305Z',
     'iopub.status.idle': '2025-09-06T17:47:27.636275Z',
     'shell.execute_reply': '2025-09-06T17:47:27.636275Z'}},
   'outputs': [{'output_type': 'stream',
     'name': 'stdout',
     'text': '<selenium.webdriver.remote.webelement.WebElement (session="45476c2eb1920a6c3ed9ae24e6f365c6", element="f.045BD43C156C9AC4999F44EA6B742CAB.d.2F0267D126F8632712A8A9A580475844.e.8")>\n'},
    {'output_type': 'stream', 'name': 'stdout', 'text': 'Cookies accepted.\n'},
    {'output_type': 'stream',
     'name': 'stdout',
     'text': "['Samsung', 'L3', '3  yrs', 'London, EN, United Kingdom | 2 hours ago', '14,9\\xa0χιλ. | N/A | 672,2']\n['CrowdStrike', 'Senior Engineer I', '15  yrs', 'London, EN, United Kingdom | 3 hours ago', '11,5\\xa0χιλ. | 8,9\\xa0χιλ. | 1,6\\xa0χιλ.']\n['Morgan Stanley', 'L3', '1  yr', 'London, EN, United Kingdom | 8 hours ago', '6,7\\xa0χιλ. | N/A | 667,9']\n['Runway', 'L4', '10  yrs', 'London, EN, United Kingdom | 20 hours ago', '24,2\\xa0χιλ. | N/A | N/A']\n['ClearBank', 'L3', '3  yrs', 'London, EN, United Kingdom | 21 hours ago', '5,3\\xa0χιλ. | N/A | 531,1']\n['PlayStation', 'Senior Software Engineer', '12  yrs', 'London, EN, United Kingdom | 21 hours ago', '10,1\\xa0χιλ. | N/A | N/A']\n['Cognizant', 'hidden', '2-4  yrs', 'London, EN, United Kingdom | a day ago', '4,6\\xa0χιλ. | N/A | N/A']\n['Checkout.com', 'Software Engineer I', '4  yrs', 'London, EN, United Kingdom | a day ago', '5,9\\xa0χιλ. | N/A | N/A']\n['Teya', 'L3', '9  yrs', 'London, EN, United Kingdom | a day ago', '13,5\\xa0χιλ. | 4,3\\xa0χιλ. | 1,2\\xa0χιλ.']\nskipped 1 page\n['Samsung', 'L3', '3  yrs', 'London, EN, United Kingdom | 2 hours ago', '14,9\\xa0χιλ. | N/A | 672,2']\n['CrowdStrike', 'Senior Engineer I', '15  yrs', 'London, EN, United Kingdom | 3 hours ago', '11,5\\xa0χιλ. | 8,9\\xa0χιλ. | 1,6\\xa0χιλ.']\n['Morgan Stanley', 'L3', '1  yr', 'London, EN, United Kingdom | 8 hours ago', '6,7\\xa0χιλ. | N/A | 667,9']\n['Runway', 'L4', '10  yrs', 'London, EN, United Kingdom | 20 hours ago', '24,2\\xa0χιλ. | N/A | N/A']\n['ClearBank', 'L3', '3  yrs', 'London, EN, United Kingdom | 21 hours ago', '5,3\\xa0χιλ. | N/A | 531,1']\n['PlayStation', 'Senior Software Engineer', '12  yrs', 'London, EN, United Kingdom | 21 hours ago', '10,1\\xa0χιλ. | N/A | N/A']\n['Cognizant', 'hidden', '2-4  yrs', 'London, EN, United Kingdom | a day ago', '4,6\\xa0χιλ. | N/A | N/A']\n['Checkout.com', 'Software Engineer I', '4  yrs', 'London, EN, United Kingdom | a day ago', '5,9\\xa0χιλ. | N/A | N/A']\n['Teya', 'L3', '9  yrs', 'London, EN, United Kingdom | a day ago', '13,5\\xa0χιλ. | 4,3\\xa0χιλ. | 1,2\\xa0χιλ.']\nskipped 1 page\n['Samsung', 'L3', '3  yrs', 'London, EN, United Kingdom | 2 hours ago', '14,9\\xa0χιλ. | N/A | 672,2']\n['CrowdStrike', 'Senior Engineer I', '15  yrs', 'London, EN, United Kingdom | 3 hours ago', '11,5\\xa0χιλ. | 8,9\\xa0χιλ. | 1,6\\xa0χιλ.']\n['Morgan Stanley', 'L3', '1  yr', 'London, EN, United Kingdom | 8 hours ago', '6,7\\xa0χιλ. | N/A | 667,9']\n['Runway', 'L4', '10  yrs', 'London, EN, United Kingdom | 20 hours ago', '24,2\\xa0χιλ. | N/A | N/A']\n['ClearBank', 'L3', '3  yrs', 'London, EN, United Kingdom | 21 hours ago', '5,3\\xa0χιλ. | N/A | 531,1']\n['PlayStation', 'Senior Software Engineer', '12  yrs', 'London, EN, United Kingdom | 21 hours ago', '10,1\\xa0χιλ. | N/A | N/A']\n['Cognizant', 'hidden', '2-4  yrs', 'London, EN, United Kingdom | a day ago', '4,6\\xa0χιλ. | N/A | N/A']\n['Checkout.com', 'Software Engineer I', '4  yrs', 'London, EN, United Kingdom | a day ago', '5,9\\xa0χιλ. | N/A | N/A']\n['Teya', 'L3', '9  yrs', 'London, EN, United Kingdom | a day ago', '13,5\\xa0χιλ. | 4,3\\xa0χιλ. | 1,2\\xa0χιλ.']\nskipped 1 page\n"},
    {'output_type': 'stream',
     'name': 'stdout',
     'text': "['Samsung', 'L3', '3  yrs', 'London, EN, United Kingdom | 2 hours ago', '14,9\\xa0χιλ. | N/A | 672,2']\n['CrowdStrike', 'Senior Engineer I', '15  yrs', 'London, EN, United Kingdom | 3 hours ago', '11,5\\xa0χιλ. | 8,9\\xa0χιλ. | 1,6\\xa0χιλ.']\n['Morgan Stanley', 'L3', '1  yr', 'London, EN, United Kingdom | 8 hours ago', '6,7\\xa0χιλ. | N/A | 667,9']\n['Runway', 'L4', '10  yrs', 'London, EN, United Kingdom | 20 hours ago', '24,2\\xa0χιλ. | N/A | N/A']\n['ClearBank', 'L3', '3  yrs', 'London, EN, United Kingdom | 21 hours ago', '5,3\\xa0χιλ. | N/A | 531,1']\n['PlayStation', 'Senior Software Engineer', '12  yrs', 'London, EN, United Kingdom | 21 hours ago', '10,1\\xa0χιλ. | N/A | N/A']\n['Cognizant', 'hidden', '2-4  yrs', 'London, EN, United Kingdom | a day ago', '4,6\\xa0χιλ. | N/A | N/A']\n['Checkout.com', 'Software Engineer I', '4  yrs', 'London, EN, United Kingdom | a day ago', '5,9\\xa0χιλ. | N/A | N/A']\n['Teya', 'L3', '9  yrs', 'London, EN, United Kingdom | a day ago', '13,5\\xa0χιλ. | 4,3\\xa0χιλ. | 1,2\\xa0χιλ.']\nskipped 1 page\n['Samsung', 'L3', '3  yrs', 'London, EN, United Kingdom | 2 hours ago', '14,9\\xa0χιλ. | N/A | 672,2']\n['CrowdStrike', 'Senior Engineer I', '15  yrs', 'London, EN, United Kingdom | 3 hours ago', '11,5\\xa0χιλ. | 8,9\\xa0χιλ. | 1,6\\xa0χιλ.']\n['Morgan Stanley', 'L3', '1  yr', 'London, EN, United Kingdom | 8 hours ago', '6,7\\xa0χιλ. | N/A | 667,9']\n['Runway', 'L4', '10  yrs', 'London, EN, United Kingdom | 20 hours ago', '24,2\\xa0χιλ. | N/A | N/A']\n['ClearBank', 'L3', '3  yrs', 'London, EN, United Kingdom | 21 hours ago', '5,3\\xa0χιλ. | N/A | 531,1']\n['PlayStation', 'Senior Software Engineer', '12  yrs', 'London, EN, United Kingdom | 21 hours ago', '10,1\\xa0χιλ. | N/A | N/A']\n['Cognizant', 'hidden', '2-4  yrs', 'London, EN, United Kingdom | a day ago', '4,6\\xa0χιλ. | N/A | N/A']\n['Checkout.com', 'Software Engineer I', '4  yrs', 'London, EN, United Kingdom | a day ago', '5,9\\xa0χιλ. | N/A | N/A']\n['Teya', 'L3', '9  yrs', 'London, EN, United Kingdom | a day ago', '13,5\\xa0χιλ. | 4,3\\xa0χιλ. | 1,2\\xa0χιλ.']\nskipped 1 page\n['Samsung', 'L3', '3  yrs', 'London, EN, United Kingdom | 2 hours ago', '14,9\\xa0χιλ. | N/A | 672,2']\n['CrowdStrike', 'Senior Engineer I', '15  yrs', 'London, EN, United Kingdom | 3 hours ago', '11,5\\xa0χιλ. | 8,9\\xa0χιλ. | 1,6\\xa0χιλ.']\n['Morgan Stanley', 'L3', '1  yr', 'London, EN, United Kingdom | 8 hours ago', '6,7\\xa0χιλ. | N/A | 667,9']\n['Runway', 'L4', '10  yrs', 'London, EN, United Kingdom | 20 hours ago', '24,2\\xa0χιλ. | N/A | N/A']\n['ClearBank', 'L3', '3  yrs', 'London, EN, United Kingdom | 21 hours ago', '5,3\\xa0χιλ. | N/A | 531,1']\n['PlayStation', 'Senior Software Engineer', '12  yrs', 'London, EN, United Kingdom | 21 hours ago', '10,1\\xa0χιλ. | N/A | N/A']\n['Cognizant', 'hidden', '2-4  yrs', 'London, EN, United Kingdom | a day ago', '4,6\\xa0χιλ. | N/A | N/A']\n['Checkout.com', 'Software Engineer I', '4  yrs', 'London, EN, United Kingdom | a day ago', '5,9\\xa0χιλ. | N/A | N/A']\n['Teya', 'L3', '9  yrs', 'London, EN, United Kingdom | a day ago', '13,5\\xa0χιλ. | 4,3\\xa0χιλ. | 1,2\\xa0χιλ.']\nskipped 1 page\n"},
    {'output_type': 'stream',
     'name': 'stdout',
     'text': "['Samsung', 'L3', '3  yrs', 'London, EN, United Kingdom | 2 hours ago', '14,9\\xa0χιλ. | N/A | 672,2']\n['CrowdStrike', 'Senior Engineer I', '15  yrs', 'London, EN, United Kingdom | 3 hours ago', '11,5\\xa0χιλ. | 8,9\\xa0χιλ. | 1,6\\xa0χιλ.']\n['Morgan Stanley', 'L3', '1  yr', 'London, EN, United Kingdom | 8 hours ago', '6,7\\xa0χιλ. | N/A | 667,9']\n['Runway', 'L4', '10  yrs', 'London, EN, United Kingdom | 20 hours ago', '24,2\\xa0χιλ. | N/A | N/A']\n['ClearBank', 'L3', '3  yrs', 'London, EN, United Kingdom | 21 hours ago', '5,3\\xa0χιλ. | N/A | 531,1']\n['PlayStation', 'Senior Software Engineer', '12  yrs', 'London, EN, United Kingdom | 21 hours ago', '10,1\\xa0χιλ. | N/A | N/A']\n['Cognizant', 'hidden', '2-4  yrs', 'London, EN, United Kingdom | a day ago', '4,6\\xa0χιλ. | N/A | N/A']\n['Checkout.com', 'Software Engineer I', '4  yrs', 'London, EN, United Kingdom | a day ago', '5,9\\xa0χιλ. | N/A | N/A']\n['Teya', 'L3', '9  yrs', 'London, EN, United Kingdom | a day ago', '13,5\\xa0χιλ. | 4,3\\xa0χιλ. | 1,2\\xa0χιλ.']\nskipped 1 page\n['Samsung', 'L3', '3  yrs', 'London, EN, United Kingdom | 2 hours ago', '14,9\\xa0χιλ. | N/A | 672,2']\n['CrowdStrike', 'Senior Engineer I', '15  yrs', 'London, EN, United Kingdom | 3 hours ago', '11,5\\xa0χιλ. | 8,9\\xa0χιλ. | 1,6\\xa0χιλ.']\n['Morgan Stanley', 'L3', '1  yr', 'London, EN, United Kingdom | 8 hours ago', '6,7\\xa0χιλ. | N/A | 667,9']\n['Runway', 'L4', '10  yrs', 'London, EN, United Kingdom | 20 hours ago', '24,2\\xa0χιλ. | N/A | N/A']\n['ClearBank', 'L3', '3  yrs', 'London, EN, United Kingdom | 21 hours ago', '5,3\\xa0χιλ. | N/A | 531,1']\n['PlayStation', 'Senior Software Engineer', '12  yrs', 'London, EN, United Kingdom | 21 hours ago', '10,1\\xa0χιλ. | N/A | N/A']\n['Cognizant', 'hidden', '2-4  yrs', 'London, EN, United Kingdom | a day ago', '4,6\\xa0χιλ. | N/A | N/A']\n['Checkout.com', 'Software Engineer I', '4  yrs', 'London, EN, United Kingdom | a day ago', '5,9\\xa0χιλ. | N/A | N/A']\n['Teya', 'L3', '9  yrs', 'London, EN, United Kingdom | a day ago', '13,5\\xa0χιλ. | 4,3\\xa0χιλ. | 1,2\\xa0χιλ.']\nskipped 1 page\n['Samsung', 'L3', '3  yrs', 'London, EN, United Kingdom | 2 hours ago', '14,9\\xa0χιλ. | N/A | 672,2']\n['CrowdStrike', 'Senior Engineer I', '15  yrs', 'London, EN, United Kingdom | 3 hours ago', '11,5\\xa0χιλ. | 8,9\\xa0χιλ. | 1,6\\xa0χιλ.']\n['Morgan Stanley', 'L3', '1  yr', 'London, EN, United Kingdom | 8 hours ago', '6,7\\xa0χιλ. | N/A | 667,9']\n['Runway', 'L4', '10  yrs', 'London, EN, United Kingdom | 20 hours ago', '24,2\\xa0χιλ. | N/A | N/A']\n['ClearBank', 'L3', '3  yrs', 'London, EN, United Kingdom | 21 hours ago', '5,3\\xa0χιλ. | N/A | 531,1']\n['PlayStation', 'Senior Software Engineer', '12  yrs', 'London, EN, United Kingdom | 21 hours ago', '10,1\\xa0χιλ. | N/A | N/A']\n['Cognizant', 'hidden', '2-4  yrs', 'London, EN, United Kingdom | a day ago', '4,6\\xa0χιλ. | N/A | N/A']\n['Checkout.com', 'Software Engineer I', '4  yrs', 'London, EN, United Kingdom | a day ago', '5,9\\xa0χιλ. | N/A | N/A']\n['Teya', 'L3', '9  yrs', 'London, EN, United Kingdom | a day ago', '13,5\\xa0χιλ. | 4,3\\xa0χιλ. | 1,2\\xa0χιλ.']\nskipped 1 page\n"},
    {'output_type': 'stream',
     'name': 'stdout',
     'text': "['Samsung', 'L3', '3  yrs', 'London, EN, United Kingdom | 2 hours ago', '14,9\\xa0χιλ. | N/A | 672,2']\n['CrowdStrike', 'Senior Engineer I', '15  yrs', 'London, EN, United Kingdom | 3 hours ago', '11,5\\xa0χιλ. | 8,9\\xa0χιλ. | 1,6\\xa0χιλ.']\n['Morgan Stanley', 'L3', '1  yr', 'London, EN, United Kingdom | 8 hours ago', '6,7\\xa0χιλ. | N/A | 667,9']\n['Runway', 'L4', '10  yrs', 'London, EN, United Kingdom | 20 hours ago', '24,2\\xa0χιλ. | N/A | N/A']\n['ClearBank', 'L3', '3  yrs', 'London, EN, United Kingdom | 21 hours ago', '5,3\\xa0χιλ. | N/A | 531,1']\n['PlayStation', 'Senior Software Engineer', '12  yrs', 'London, EN, United Kingdom | 21 hours ago', '10,1\\xa0χιλ. | N/A | N/A']\n['Cognizant', 'hidden', '2-4  yrs', 'London, EN, United Kingdom | a day ago', '4,6\\xa0χιλ. | N/A | N/A']\n['Checkout.com', 'Software Engineer I', '4  yrs', 'London, EN, United Kingdom | a day ago', '5,9\\xa0χιλ. | N/A | N/A']\n['Teya', 'L3', '9  yrs', 'London, EN, United Kingdom | a day ago', '13,5\\xa0χιλ. | 4,3\\xa0χιλ. | 1,2\\xa0χιλ.']\nskipped 1 page\n['Samsung', 'L3', '3  yrs', 'London, EN, United Kingdom | 2 hours ago', '14,9\\xa0χιλ. | N/A | 672,2']\n['CrowdStrike', 'Senior Engineer I', '15  yrs', 'London, EN, United Kingdom | 3 hours ago', '11,5\\xa0χιλ. | 8,9\\xa0χιλ. | 1,6\\xa0χιλ.']\n['Morgan Stanley', 'L3', '1  yr', 'London, EN, United Kingdom | 8 hours ago', '6,7\\xa0χιλ. | N/A | 667,9']\n['Runway', 'L4', '10  yrs', 'London, EN, United Kingdom | 20 hours ago', '24,2\\xa0χιλ. | N/A | N/A']\n['ClearBank', 'L3', '3  yrs', 'London, EN, United Kingdom | 21 hours ago', '5,3\\xa0χιλ. | N/A | 531,1']\n['PlayStation', 'Senior Software Engineer', '12  yrs', 'London, EN, United Kingdom | 21 hours ago', '10,1\\xa0χιλ. | N/A | N/A']\n['Cognizant', 'hidden', '2-4  yrs', 'London, EN, United Kingdom | a day ago', '4,6\\xa0χιλ. | N/A | N/A']\n['Checkout.com', 'Software Engineer I', '4  yrs', 'London, EN, United Kingdom | a day ago', '5,9\\xa0χιλ. | N/A | N/A']\n['Teya', 'L3', '9  yrs', 'London, EN, United Kingdom | a day ago', '13,5\\xa0χιλ. | 4,3\\xa0χιλ. | 1,2\\xa0χιλ.']\nskipped 1 page\n['Samsung', 'L3', '3  yrs', 'London, EN, United Kingdom | 2 hours ago', '14,9\\xa0χιλ. | N/A | 672,2']\n['CrowdStrike', 'Senior Engineer I', '15  yrs', 'London, EN, United Kingdom | 3 hours ago', '11,5\\xa0χιλ. | 8,9\\xa0χιλ. | 1,6\\xa0χιλ.']\n['Morgan Stanley', 'L3', '1  yr', 'London, EN, United Kingdom | 8 hours ago', '6,7\\xa0χιλ. | N/A | 667,9']\n['Runway', 'L4', '10  yrs', 'London, EN, United Kingdom | 20 hours ago', '24,2\\xa0χιλ. | N/A | N/A']\n['ClearBank', 'L3', '3  yrs', 'London, EN, United Kingdom | 21 hours ago', '5,3\\xa0χιλ. | N/A | 531,1']\n['PlayStation', 'Senior Software Engineer', '12  yrs', 'London, EN, United Kingdom | 21 hours ago', '10,1\\xa0χιλ. | N/A | N/A']\n['Cognizant', 'hidden', '2-4  yrs', 'London, EN, United Kingdom | a day ago', '4,6\\xa0χιλ. | N/A | N/A']\n['Checkout.com', 'Software Engineer I', '4  yrs', 'London, EN, United Kingdom | a day ago', '5,9\\xa0χιλ. | N/A | N/A']\n['Teya', 'L3', '9  yrs', 'London, EN, United Kingdom | a day ago', '13,5\\xa0χιλ. | 4,3\\xa0χιλ. | 1,2\\xa0χιλ.']\nskipped 1 page\n"},
    {'output_type': 'stream',
     'name': 'stdout',
     'text': "['Samsung', 'L3', '3  yrs', 'London, EN, United Kingdom | 2 hours ago', '14,9\\xa0χιλ. | N/A | 672,2']\n['CrowdStrike', 'Senior Engineer I', '15  yrs', 'London, EN, United Kingdom | 3 hours ago', '11,5\\xa0χιλ. | 8,9\\xa0χιλ. | 1,6\\xa0χιλ.']\n['Morgan Stanley', 'L3', '1  yr', 'London, EN, United Kingdom | 8 hours ago', '6,7\\xa0χιλ. | N/A | 667,9']\n['Runway', 'L4', '10  yrs', 'London, EN, United Kingdom | 20 hours ago', '24,2\\xa0χιλ. | N/A | N/A']\n['ClearBank', 'L3', '3  yrs', 'London, EN, United Kingdom | 21 hours ago', '5,3\\xa0χιλ. | N/A | 531,1']\n['PlayStation', 'Senior Software Engineer', '12  yrs', 'London, EN, United Kingdom | 21 hours ago', '10,1\\xa0χιλ. | N/A | N/A']\n['Cognizant', 'hidden', '2-4  yrs', 'London, EN, United Kingdom | a day ago', '4,6\\xa0χιλ. | N/A | N/A']\n['Checkout.com', 'Software Engineer I', '4  yrs', 'London, EN, United Kingdom | a day ago', '5,9\\xa0χιλ. | N/A | N/A']\n['Teya', 'L3', '9  yrs', 'London, EN, United Kingdom | a day ago', '13,5\\xa0χιλ. | 4,3\\xa0χιλ. | 1,2\\xa0χιλ.']\nskipped 1 page\n['Samsung', 'L3', '3  yrs', 'London, EN, United Kingdom | 2 hours ago', '14,9\\xa0χιλ. | N/A | 672,2']\n['CrowdStrike', 'Senior Engineer I', '15  yrs', 'London, EN, United Kingdom | 3 hours ago', '11,5\\xa0χιλ. | 8,9\\xa0χιλ. | 1,6\\xa0χιλ.']\n['Morgan Stanley', 'L3', '1  yr', 'London, EN, United Kingdom | 8 hours ago', '6,7\\xa0χιλ. | N/A | 667,9']\n['Runway', 'L4', '10  yrs', 'London, EN, United Kingdom | 20 hours ago', '24,2\\xa0χιλ. | N/A | N/A']\n['ClearBank', 'L3', '3  yrs', 'London, EN, United Kingdom | 21 hours ago', '5,3\\xa0χιλ. | N/A | 531,1']\n['PlayStation', 'Senior Software Engineer', '12  yrs', 'London, EN, United Kingdom | 21 hours ago', '10,1\\xa0χιλ. | N/A | N/A']\n['Cognizant', 'hidden', '2-4  yrs', 'London, EN, United Kingdom | a day ago', '4,6\\xa0χιλ. | N/A | N/A']\n['Checkout.com', 'Software Engineer I', '4  yrs', 'London, EN, United Kingdom | a day ago', '5,9\\xa0χιλ. | N/A | N/A']\n['Teya', 'L3', '9  yrs', 'London, EN, United Kingdom | a day ago', '13,5\\xa0χιλ. | 4,3\\xa0χιλ. | 1,2\\xa0χιλ.']\nskipped 1 page\n"},
    {'output_type': 'stream',
     'name': 'stdout',