In [1]:
from salaries_functions import *
import requests
import pprint
import selenium
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import os

from dotenv import load_dotenv

In [2]:
salaries_url = 'https://www.levels.fyi/t/software-engineer/locations/germany'
driver = webdriver.Chrome()
sign_in_levels_fyi(driver)
driver.get(salaries_url)


driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
time.sleep(2)

<selenium.webdriver.remote.webelement.WebElement (session="3cff9d73a5289b771e5000b1f0078c15", element="f.53EB9B70CB509F70FC2CEBE7B01E80A2.d.2300E0D09F51E5FE4CF98B98D16BDF89.e.8")>
Cookies accepted.

In [3]:
data = scrape_pages_for_lyi(driver)

skipped 1 page

[['Helmholtz Center', 'L1', '1  yr', '6,9\xa0χιλ. | N/A | N/A'],
 ['CarOnSale', 'hidden', '5-10  yrs', '7,8\xa0χιλ. | 416,7 | N/A'],
 ['N/A', 'hidden', '5-10  yrs', '9,2\xa0χιλ. | N/A | N/A'],
 ['Klarna', 'L3', '8  yrs', '6,9\xa0χιλ. | N/A | N/A'],
 ['N/A', '-', '2  yrs', '4,8\xa0χιλ. | N/A | N/A'],
 ['CHECK24', 'Junior Software Engineer', '1  yr', '4,8\xa0χιλ. | N/A | N/A'],
 ['Informatica', 'L3', '2  yrs', '4,3\xa0χιλ. | N/A | N/A'],
 ['Amazon', 'SDE II', '6  yrs', '8,7\xa0χιλ. | 833,3 | N/A'],
 ['Babbel', 'Senior', '8  yrs', '6,9\xa0χιλ. | N/A | N/A']]

In [5]:
    
df = parse_list_to_df(data)

In [7]:
df.head(22222)

,Company,Level,Years of Experience,Total_Compensation
0,Helmholtz Center,L1,1 yr,"6,9 χιλ. | N/A | N/A"
1,CarOnSale,hidden,5-10 yrs,"7,8 χιλ. | 416,7 | N/A"
2,N/A,hidden,5-10 yrs,"9,2 χιλ. | N/A | N/A"
3,Klarna,L3,8 yrs,"6,9 χιλ. | N/A | N/A"
4,N/A,-,2 yrs,"4,8 χιλ. | N/A | N/A"
5,CHECK24,Junior Software Engineer,1 yr,"4,8 χιλ. | N/A | N/A"
6,Informatica,L3,2 yrs,"4,3 χιλ. | N/A | N/A"
7,Amazon,SDE II,6 yrs,"8,7 χιλ. | 833,3 | N/A"
8,Babbel,Senior,8 yrs,"6,9 χιλ. | N/A | N/A"

In [8]:
os.chdir('../database')
from crud_functions import write_dataframes_to_db
from models import SoftwareEngineerLevelsFyi

In [11]:
df.columns

Index(['Company', 'Level', 'Years of Experience', 'Total_Compensation'], dtype='object')

In [12]:
df = df.rename(columns={
    "Company": "company_name",
    "Level": "title",
    "Years of Experience": "years_of_experience",
    "Total_Compensation": "total_compensation"
})

In [14]:
write_dataframes_to_db(df, SoftwareEngineerLevelsFyi)