In [ ]:
from salaries_functions import *
import requests
import pprint
import selenium
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import os

from dotenv import load_dotenv



from crud_functions import write_dataframes_to_db, df_to_sql
from models import Software_Engineer_Levels_Fyi
from sqlalchemy import Engine

In [ ]:
salaries_url = 'https://www.levels.fyi/t/software-engineer/locations/germany'
driver = webdriver.Chrome()
sign_in_levels_fyi(driver)
driver.get(salaries_url)


driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
time.sleep(2)

In [ ]:
data = scrape_pages_for_lyi(driver)

In [ ]:
print(data[400][0])

5455

In [ ]:
len(data)

In [ ]:
df = parse_list_to_df(data)

In [ ]:
df.head(558)

In [ ]:
edit_compensation_column(df)
os.chdir('C:/Users/steve/web-scraping/misc')
df.to_csv('levels_fyi_data.csv')

In [ ]:

edit_compensation_column(df)

In [ ]:
os.chdir('C:/Users/steve/web-scraping/database')




df = pd.read_csv('C:/Users/steve/web-scraping/misc/levels_fyi_data.csv')
df = df.drop(columns='Unnamed: 0', axis=0)

df = df.rename(columns={
    "Company": "company_name",
    "Level": "title",
    "Years of Experience": "years_of_experience",
    "Total Compensation": "total_compensation",
    "Salary" : "salary"
})

In [ ]:
df_to_sql(df)

In [ ]:
df.head(2)

  company_name title years_of_experience    total_compensation  salary
0        Tecan     -              7  yrs    5 χιλ. | N/A | N/A     5.0
1   Convotherm    L5             10  yrs  7,5 χιλ. | N/A | N/A     7.5